.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Container Stilleri */
.container {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Viewport yüksekliği ile aynı */
  width: 100vw;
}

.map-section,
.earthquake-list-section {
  overflow: auto; /* İçerik fazlaysa kaydırmaya izin ver */
  padding: 20px;
}

.map-section {
  flex: 3; /* Harita bölümüne daha fazla yer ayır */
}

.earthquake-list-section {
  flex: 1; /* Deprem listesi için daha az yer */
  background-color: #f7f7f7;
}

@media (min-width: 768px) {
  /* Orta ve büyük ekranlar için stil ayarları */
  .container {
    flex-direction: row; /* Ekran geniş ise yatay sıralama */
  }

  .map-section,
  .earthquake-list-section {
    height: auto; /* Flexbox yönetimine bırak */
    max-height: 100vh; /* Maksimum yükseklik viewport ile sınırlı */
  }
}
